@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Medula+One&family=Short+Stack&display=swap');

:root {
    --fontFamily: 'Short Stack', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--fontFamily);
  -webkit-font-smoothing: unset !important;
}
